POLL_MINUTES=10
WINRM_USERNAME=Administrateur
WINRM_PASSWORD='changeme'
WINRM_USE_SSL=false
WINRM_PORT=5985
WINRM_VERIFY_SSL=false

HOSTS_CONFIG='[{"ip": "192.168.20.3", "type": "hyperv", "tags": ["Hyper-V", "Administration"]}, {"ip": "192.168.20.2", "type": "proxmox", "tags": ["Proxmox", "DEV"], "username": "root@pam", "password": "MonPasswordProxmox"}, {"ip": "192.168.20.4", "type": "esxi", "tags": ["ESXi", "DEV"], "username": "root", "password": "MonPasswordESXi"}]'

TAG_COLORS='{"Hyper-V": {"bg": "#272AF5", "text": "#000000"}, "Proxmox": {"bg": "#F5822A", "text": "#FFFFFF"}, "ESXi": {"bg": "#1D5707", "text": "#000000"}, "DEV": {"bg": "#30E6F2", "text": "#FFFFFF"}, "Administration": {"bg": "#D91A1A", "text": "#000000"}}'